$mobile-device: 900px;
$desktop-device: 901px;

.game-showcase {
  background-color: #222222;
  border: 2px solid #333;
  border-radius: 8px;
  vertical-align: top;

  /*@media (max-width: $mobile-device) {
    margin: 10px 5px;
  }
  @media (min-width: $desktop-device) {
    margin: 0px 20px;
    max-width: 1000px;
  }*/

  .player-info {
    border-collapse: separate;
    border-spacing: 15px;
    /*display: table;*/
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;

    .picture {
      background-image: url('/images/u_logo.png');
      border: 1px solid #999;
      /*display: table-cell;*/
      flex: none;
      margin: 10px;
      width: 100px;
      height: 100px;
    }

    .name {
      /*display: table-cell;*/
      flex: auto;
      margin: 10px;
      font-family: 'Verdana';
      font-size: 24px;
      color: white;
    }
  }

  .game-list {
    /*display: table;*/
    padding: 10px 20px;

    h2 {
      color: white;
      text-align: center;

      font-size: 0.8em;
      /*@media (max-width: $mobile-device) {
        font-size: 1.0em;
      }
      @media (min-width: $desktop-device) {
        font-size: 0.8em;
      }*/
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 15px 0 5px 0;

      th {
        background-color: #333;
        padding: 5px 10px;
        text-align: left;

        font-size: 0.7em;
        /*@media (max-width: $mobile-device) {
          font-size: 0.9em;
        }
        @media (min-width: $desktop-device) {
          font-size: 0.7em;
        }*/
      }

      td {
        background-color: #444;
        border: 1px solid #333;
        padding: 5px 10px;

        font-size: 0.7em;
        /*@media (max-width: $mobile-device) {
          font-size: 0.9em;
        }
        @media (min-width: $desktop-device) {
          font-size: 0.7em;
        }*/
      }
    }
  }
}

/*.game-list .platform-header {
  background-color: #333;
  display: table-header-group;
  font-size: 14px;
  margin: 0;
}

.game-list .game-row {
  display: table-row;
}

.game-list .game-row .game-cell {
  background-color: #444;
  border: 1px solid #333;
  display: table-cell;
  font-size: 12px;
  padding: 5px 10px;
}*/
