$mobile-device: 900px;
$desktop-device: 901px;

.registration-split-view {
  display: flex;

  @media (max-width: $mobile-device) {
    padding: 2px;
    flex-direction: column;
  }

  @media (min-width: $desktop-device) {
    justify-content: center;
  }

  .left-menu {
    flex: initial;

    @media (min-width: $desktop-device) {
      width: 475px;
    }
  }
}
