body {
  font-family: 'Verdana';
  font-size: 1.5em;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

textarea {
  background-color: #666;
  border: 1px solid #444;
  color: black;
}

input[type="text"] {
  background-color: #666;
  border: 1px solid #444;
  color: black;
}

.form-area {
  margin: 15px 5px;
  text-align: left;
}

.form-area .form-item {
  margin: 20px 5px;
}

.form-area .submit-btn {
  text-align: right;
}

.registration-split-view {
  width: 100%;
}

.registration-split-view .game-showcase {
  border: 2px solid #333;
  border-radius: 8px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: 700px;
}

.registration-split-view .games-search {
  display: inline-block;
  vertical-align: top;
}

.games-search {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: black;
  width: 400px;
}

.games-search input {
  width: 290px;
  font-size: 2.0rem;
}

.games-search .search-list .search-match {
  background-color: rgb(32, 32, 32);
  color: #125688;
  font-size: 1.5rem;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.game-showcase {
  background-color: #222222;
  border: 1px solid #333333;
}

.game-showcase .player-info {
  border-collapse: separate;
  border-spacing: 15px;
  display: table;
  padding: 5px 10px;
}

.game-showcase .player-info .picture {
  background-image: url('/images/u_logo.png');
  border: 1px solid #999;
  display: table-cell;
  width: 100px;
  height: 100px;
}

.game-showcase .player-info .name {
  display: table-cell;
  font-family: 'Verdana';
  font-size: 24px;
  color: white;
}

.game-list {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 95%;
}

.game-list h2 {
  color: white;
  text-align: center;
  font-size: 18px;
}

/*.game-list .platform-header {
  background-color: #333;
  display: table-header-group;
  font-size: 14px;
  margin: 0;
}

.game-list .game-row {
  display: table-row;
}

.game-list .game-row .game-cell {
  background-color: #444;
  border: 1px solid #333;
  display: table-cell;
  font-size: 12px;
  padding: 5px 10px;
}*/

.game-list table {
  border-collapse: collapse;
  margin: 10px 0 20px 0;
  width: 100%;
}

.game-list table th {
  background-color: #333;
  font-size: 14px;
  padding: 5px 10px;
  text-align: left;
}

.game-list table td {
  background-color: #444;
  border: 1px solid #333;
  font-size: 12px;
  padding: 5px 10px;
}

.games-dropdown input[type="text"] {
  font-size: 16px;
  padding: 5px;
}

.games-dropdown .clear-selection {
  font-size: 10px;
}

.games-dropdown .search-list {
  position: absolute;
}

.games-dropdown .search-list .search-match {
  background-color: rgb(32, 32, 32);
  color: #125688;
  font-size: 1.5rem;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.game-feed {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.game-feed .new-post {
  border: 1px solid #444;
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.game-feed .new-post .post-content {
  text-align: center;
}

.game-feed .new-post .post-text {
  width: 100%;
  height: 50px;
  resize: none;
}

.game-feed .new-post div.table {
  display: table;
  width: 100%;
}

.game-feed .new-post div.cell {
  display: table-cell;
}

.game-feed .feed-items {
  margin-bottom: 20px;
}

.game-feed .feed-items .feed-item {
  background-color: #222;
  border: 1px solid #333;
}

.game-feed .feed-item .header {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  display: table;
}

.game-feed .feed-item .header .box {
  display: table-cell;
}

.game-feed .feed-item .header .player-icon {
  width: 50px;
}

.game-feed .feed-item .header .player-icon .image {
  border: 1px solid #999;
  background-image: url('/images/u_logo.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.game-feed .feed-item .header .info {
  vertical-align: top;
}

.game-feed .feed-item .header .info h2.player-name {
  font-size: 1.7em;
  color: #999;
  letter-spacing: 0.1em;
}

.game-feed .feed-item .header .info h3.game-name {
  font-size: 1.2em;
  color: #777;
}

.game-feed .feed-item .header .timestamp {
  float: right;
  color: #999;
  font-size: 1.2em;
  vertical-align: top;
}

.game-feed .feed-item .player-info {
  border-collapse: separate;
  border-spacing: 10px;
  display: table;
  width: 100%;
}

.game-feed .feed-item .post {
  padding: 8px 12px;
}

.game-feed .feed-item .post .text {
  color: #aaa;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.game-feed .feed-item .post .screen-shot {
  margin-top: 15px;
  text-align: center;
}

.game-feed .feed-item .post .screen-shot img {
}
