$mobile-device: 600px;
$desktop-device: 601px;

// "Instagram-like" webfont
@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdana';
  font-size: 1.5em;
  background-color: #111;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'billabong', 'billabongregular';
  text-align: center;
  font-weight: 100;
  @media (max-width: $mobile-device) {
    font-size: 3em;
  }
  @media (min-width: $desktop-device) {
    font-size: 5em;
  }
  margin: 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
  a {
    color: #125688;
    text-decoration: none;
  }
}

textarea {
  background-color: #666;
  border: 1px solid #444;
  color: black;
}

input[type="text"] {
  background-color: #666;
  border: 1px solid #444;
  color: black;
  font-size: 1.5em;
  padding: 5px;
}

.form-area {
  margin: 15px 5px;
  text-align: left;

  .form-item {
    margin: 20px 0;
    width: 100%;
    input[type="text"] {
      width: 100%;
    }
  }

  .submit-btn {
    text-align: right;
    button {
      @media (max-width: $mobile-device) {
        width: 100%;
      }
      font-size: 1.5em;
    }
  }
}

.game-feed {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.game-feed .new-post {
  border: 1px solid #444;
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.game-feed .new-post .post-content {
  text-align: center;
}

.game-feed .new-post .post-text {
  width: 100%;
  height: 50px;
  resize: none;
}

.game-feed .new-post div.table {
  display: table;
  width: 100%;
}

.game-feed .new-post div.cell {
  display: table-cell;
}

.game-feed .feed-items {
  margin-bottom: 20px;
}

.game-feed .feed-items .feed-item {
  background-color: #222;
  border: 1px solid #333;
}

.game-feed .feed-item .header {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
  display: table;
}

.game-feed .feed-item .header .box {
  display: table-cell;
}

.game-feed .feed-item .header .player-icon {
  width: 50px;
}

.game-feed .feed-item .header .player-icon .image {
  border: 1px solid #999;
  background-image: url('/images/u_logo.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.game-feed .feed-item .header .info {
  vertical-align: top;
}

.game-feed .feed-item .header .info h2.player-name {
  font-size: 1.7em;
  color: #999;
  letter-spacing: 0.1em;
}

.game-feed .feed-item .header .info h3.game-name {
  font-size: 1.2em;
  color: #777;
}

.game-feed .feed-item .header .timestamp {
  float: right;
  color: #999;
  font-size: 1.2em;
  vertical-align: top;
}

.game-feed .feed-item .player-info {
  border-collapse: separate;
  border-spacing: 10px;
  display: table;
  width: 100%;
}

.game-feed .feed-item .post {
  padding: 8px 12px;
}

.game-feed .feed-item .post .text {
  color: #aaa;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.game-feed .feed-item .post .screen-shot {
  margin-top: 15px;
  text-align: center;
}

.game-feed .feed-item .post .screen-shot img {
}
