$mobile-device: 900px;
$desktop-device: 901px;

.game-feed .new-post {
  border: 1px solid #444;
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.game-feed .new-post .post-content {
  text-align: center;
}

.game-feed .new-post .post-text {
  width: 100%;
  height: 50px;
  resize: none;
}

.game-feed .new-post div.table {
  display: table;
  width: 100%;
}

.game-feed .new-post div.cell {
  display: table-cell;
}

.games-dropdown input[type="text"] {
  font-size: 16px;
  padding: 5px;
}

.games-dropdown .clear-selection {
  font-size: 10px;
}

.games-dropdown .search-list {
  position: absolute;
}

.games-dropdown .search-list .search-match {
  background-color: rgb(32, 32, 32);
  color: #125688;
  font-size: 1.5rem;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}
